<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/theme.css">
	<style>
#footer {
    padding: 15px 0;
    background: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
}
#topcontrol {
  color: #fff;
  z-index: 99;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: #222;
  position: relative;
  right: 14px !important;
  bottom: 11px !important;
  border-radius: 3px !important;
}

#topcontrol:after {
  /*top: -2px;*/
  left: 8.5px;
  content: "\f106";
  position: absolute;
  text-align: center;
  font-family: FontAwesome;
}

#topcontrol:hover {
    color: #fff;
    background: #18ba9b;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

	</style>
  </head>
  <body>
 <div class="navbar-wrapper">
      <div class="container">
			<nav class="navbar navbar-fixed-top" role="navigation">
			  <div class="container">
				<div class="navbar-header">
				  <a class="navbar-brand" href="member" style="font-size:32px;">千锋旅游网</a>
				</div>
            <div id="navbar" class="navbar-collapse collapse" style="float:right;">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <span th:text="${user.nickname}" id="getNickName"></span><span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="#"><i class="glyphicon glyphicon-cog"></i> 我的资料</a></li>
                      <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 我的消息</a></li>
                      <li><a href="#"><i class="glyphicon glyphicon-th-list"></i> 我的订单</a></li>
                    <li class="divider"></li>
                    <li><a href="indexview"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                  </ul>
                </li>
              </ul>
            </div>
			  </div>
			</nav>

      </div>
    </div>
<div class="container" id="focus">
	<div class="row clearfix">
		<div class="col-sm-3 col-md-3 column">
			<div class="row">
				<div class="col-md-12">
					<div class="thumbnail" style="    border-radius: 0px;">
						<img src="img/services-box1.jpg" class="img-thumbnail" alt="">
						<div class="caption" style="text-align:center;">
							<h3 th:text="${user.nickname}" >
							</h3>
							<a class="btn btn-danger" style="cursor:pointer;" th:href="@{apply1(userId=${user.userid})}" id="actState">未实名认证</a>
                            <input type="hidden" th:value="${user.state}" id="checkAct">
						</div>
					</div>
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item active">
					我的资料<span class="badge"><i class="glyphicon glyphicon-chevron-right"></i></span>
				</div>
				<div class="list-group-item " style="cursor:pointer;">
					我的订单<span class="badge"><i class="glyphicon glyphicon-chevron-right"></i></span>
				</div>
			</div>
		</div>
        <div class="col-sm-9 col-md-9 column">

        </div>
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="script/docs.min.js"></script>
    <script src="script/back-to-top.js"></script>
    <script src="script/echarts.js"></script>
	<script type="text/javascript">

        $(function ($) {
            var activated = $("#checkAct").val();
            if (activated==3){
                $("#actState").get(0).setAttribute("class","btn btn-danger");
                $("#actState").get(0).innerText="实名认证失败重新填写";
            }
            if (activated == 2){
               $("#actState").get(0).setAttribute("class","btn btn-success disabled");
               $("#actState").get(0).innerText="已实名认证";
            }
            if (activated == 1){
               $("#actState").get(0).setAttribute("class","btn btn-info disabled");
               $("#actState").get(0).innerText="实名认证待审核";
            }
        });

//        $(function () {
//            var nickName = $("#getNickName").get(0).innerText;
//            alert(nickName);
//                $.post("checkact",{"nickName":nickName},function (data) {
//                    alert(data);
//                    if (parseInt(data)==2){
//                        $("#checkAct").get(0).setAttribute("class","label label-success readonly");
//                        $("#checkAct").get(0).innerText="已认证";
//                    }
//                    if (parseInt(data)==1){
//                        $("#checkAct").get(0).setAttribute("class","label label-info disabled");
//                        $("#checkAct").get(0).innerText="待审核";
//                    }
//                });
//            });

$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
$('#myTab1 a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

        var myChart = echarts.init(document.getElementById('main'));

	</script>
    </div>
</div>
  </body>

</html>